body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ececec;
}

.contenedor {
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    padding-top: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #ddd;
    background-color: #fff;
}

@mixin titulo_principal() {
    margin: 8px;
    align-self: flex-start;
    color: #444111;
    font-family: sans-serif;
    font-size: 1.3rem;
}

.titulo {
    @include titulo_principal()
}

hr {
    border: none;
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 30px 0 10px;
}

.contenedor_form {
    width: 100%;
}

@mixin formulario() {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px;
}

@mixin subtitulo() {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #666;
}

.formulario-personas {
    @include formulario();

    h2 {
        @include subtitulo();
    }

    hr {
        grid-column: 1 / -1;
    }
}

.formulario-personas_campos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;

    div {
        display: grid;
        gap: 5px;
    }
}

.formulario-personas_buttons {
    grid-column: 1 / -1;
    margin: 10px 30px;
    display: flex;
    justify-self: end;
    gap: 20px;

    button {
        background-color: #e6f7ff;
        padding: 6px 10px;
        border-radius: 5px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background-color: #333;
        color: #fff;
        
        th {
            padding: 12px;
            font-size: .9rem;
            text-align: left;
        }
    }

    tbody {

        tr {
            &:nth-child(even) {
                background-color: #f2f2f2;
            }   

            &:hover {
                background-color: #ddd;
            }

            td {
                padding: 10px;
                font-size: 1rem;
                text-align: left;
            }
        }
    }

    th, td {
        border: 1px solid #ddd;   // Define el borde de las celdas
    }
}